<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.yugoal.user">

    <application>
        <activity android:name=".loginreg.LoginActivity" />
        <activity android:name=".rank.UserRankActivity" />
        <activity android:name=".set.SettingActivity" />
        <activity android:name="io.yugoal.article.MineArticleActivity" />
    </application>
</manifest>